:root {
    --brand-color: var(--ghost-accent-color, #fc7e0f);
    --color-primary-text: #5a656b;
    --secondary-text-color: #aaa;
    --color-white: #fff;
    --light-gray-color: #f6f6f6;
    --mid-gray-color: #e6e6e6;
    --dark-gray-color: #a8aab1;
    --color-darker-gray: #1a1a1a;
    --black-color: #000;
    --animation-base: ease-in-out;
    --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-serif: Lora, Times, serif;
    --content-font-size: 1.6rem;
    --header-spacing: 80px;
}

@media (max-width: 767px) {
    :root {
        --header-spacing: 40px;
    }
}

[data-theme='dark'] {
    --brand-color: var(--ghost-accent-color, #fc7e0f);
    --color-primary-text: #e6e6e6;
    --secondary-text-color: #777;
    --color-white: #000;
    --light-gray-color: #333;
    --mid-gray-color: #444;
    --dark-gray-color: #555;
    --color-darker-gray: #eee;
    --black-color: #fff;
}
