.gh-head {
    font-weight: 500;
    background-color: var(--paper);
}

/* .gh-head-btn.gh-btn {
    padding: 10px 16px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.1;
} */

/* .gh-head-btn.gh-btn:hover {
    opacity: 0.95;
} */

.theme-button {
    display: flex; 
    color: var(--ink);
    width: 2.5rem; 
    cursor: pointer; 
    align-items: center; 
    border-radius: 9999px; 
    border-width: 1px; 
    padding-left: 0px; 
    transition-property: all; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    transition-duration: 300ms;
}