.author-list {
    margin-top: 64px;
}

.author-list-title {
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.author {
    display: flex;
    padding: 30px;
    background-color: var(--light-gray-color);
    border-radius: 6px;
}

.author + .author {
    margin-top: 28px;
}

.author-image-placeholder {
    flex-shrink: 0;
    width: 72px;
    height: 72px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 50%;
}

.author-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.author-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author-name {
    margin-bottom: 0;
    font-size: 2rem;
}

.author-social {
    display: flex;
    gap: 10px;
}

.author-social-item {
    font-size: 24px;
    line-height: 0;
}

.author-meta {
    margin-top: 4px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--secondary-text-color);
    text-transform: uppercase;
}

.author-bio {
    margin-top: 12px;
    font-size: clamp(1.25rem, 1.114rem + 0.68vw, 1.625rem);
    line-height: 1.6;
    color: var(--gray-12);
    text-wrap: pretty;
}

@media (max-width: 767px) {
    .author {
        padding: 0;
        background-color: transparent;
    }

    .author-image-placeholder {
        width: 60px;
        height: 60px;
        margin-right: 15px;
    }
}

.author-social {
    justify-content: center;
    margin-top: 2.5rem;
}

.share {
    display: flex;
}

.share-link {
    display: flex;
    align-items: center;
    height: 2.6rem;
    padding: 0 0.8rem;
    margin: 0 0.6rem;
    font-size: 1.1rem;
    font-weight: 800;
    line-height: 0;
    color: var(--gray-10);
    text-transform: uppercase;
    letter-spacing: 0.04rem;
    border-radius: 3px;
}

.share-link .icon {
    width: 14px;
    height: 14px;
    margin-right: 0.8rem;
    fill: currentColor;
}

.share-link .icon-facebook {
    margin-right: 0.2rem;
    margin-left: -0.3rem;
}

.share-link-facebook {
    background-color: var(--facebook-color);
}

.share-link-twitter {
    background-color: var(--twitter-color);
}

.share-link-linkedin {
    background-color: var(--linkedin-color);
}

.share-link-bluesky {
    background-color: var(--bluesky-color);
}

.share-link-threads {
    background-color: var(--threads-color);
}

.share-link-mastodon {
    background-color: var(--mastodon-color);
}

.share-link-tiktok {
    background-color: var(--tiktok-color);
}

.share-link-youtube {
    background-color: var(--youtube-color);
}

.share-link-instagram {
    background-color: var(--instagram-color);
}