.single .single-media .post-media {
    margin: 0 auto 30px;
}

.single > .post-header {
    margin-bottom: 48px;
    text-align: center;
}

.page-template .single > .post-header {
    margin-top: var(--header-spacing);
}

.single > .post-header .post-title {
    font-size: 4rem;
    font-weight: 700;
}

.single > .post-header .post-meta {
    margin-bottom: 16px;
    font-size: 1.3rem;
}

/* https://github.com/TryGhost/Dawn/ assets/css/blog/single.css */
.single-cta {
    padding: 3rem;
    margin-top: 4rem !important;
    text-align: center;
    border-top: 5px solid var(--brand-color);
    border-bottom: 1px solid var(--light-gray-color);
}

.single-cta-title {
    margin: 0 0 3rem !important;
}

.single-cta-button {
    margin-bottom: 1rem;
    font-weight: 800 !important;
}

.single-cta-footer {
    font-size: 1.4rem;
    font-weight: 400 !important;
    letter-spacing: -0.02rem;
}